{{ define "globals/footer.tmpl" }}
<div class="container fixed-bottom">
	<br/>
	<div class="row">
		<div class="col d-flex justify-content-center"> 
			<a class="px-2" href="" target="_top" 
				data-toggle="tooltip" data-placement="top" title="{{ .email }}"> 
				<i class="bi bi-envelope"></i>
			</a> 
			<a class="px-2" href="{{ .github }}" target="_blank" 
				data-toggle="tooltip" data-placement="top" title="gituhb"> 
				<i class="bi bi-github"></i>
			</a>
			<a class="px-2" href="{{ .youtube }}" target="_blank" 
				data-toggle="tooltip" data-placement="top" title="youtube"> 
				<i class="bi bi-youtube"></i>
			</a>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="d-flex justify-content-center" text="#"> 
			© 2020 Copyright: why.me
		</div>
	</div>
	<br/>
</div>

<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
{{ end }}