{{ define "public/index.tmpl" }}
<html>
    {{ template "globals/head.tmpl" .}}
    {{ template "globals/header.tmpl" .}}
    <body>
        <h1>
            {{ .title }}
        </h1>
        <div>
            {{ .datas }}
        </div>
    </body>
    {{ template "globals/footer.tmpl" .}}
</html>
{{ end }}